.bg-green {
  background-color: #6ba55a;
}

.bg-yellow {
  background-color: #e8b541;
}

.bg-light-green {
  background-color: #18a35a;
}

.bg-gray {
  background-color: #d1d2d4;
}

.bg-blue {
  background-color: #3477b6;
}

.bg-red {
  background-color: #df222e;
}

.bg-new-gray {
  background-color: #16a458;
}

.bg-light-blue {
  background-color: #1dafe9;
}

.bg-dark-gray {
  background-color: #98999a;
}
